version: '3.8'
services:
  db:
    image: postgres:15-alpine
    container_name: scheduler-db
    environment:
      POSTGRES_DB: schedule_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    ports:
      - "5432:5432"